


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_6EC82F984E5737374D202020FF063328-if00
x_offset: 0
y_offset: 20

mesh_main_direction: x
mesh_runs: 2

default_probe_method: proximity

home_method: contact
home_method_when_homed: contact
home_autocalibrate: unhomed

home_xy_position: 175, 175
home_z_hop: 10
home_z_hop_speed: 50
home_xy_move_speed: 500



[idle_timeout]
timeout: 1800

[bed_mesh]
speed: 500
horizontal_move_z: 5
mesh_min: 25,25
mesh_max: 310,300
probe_count: 30,30
algorithm: bicubic
fade_start: 0.6
fade_end: 10.0
fade_target: 0
zero_reference_position: 175,175


# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# # home_xy_position:175, 175
# speed:500
# z_hop:10
# z_hop_speed: 50

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
#  Probe points
points:
   50,25
   50,275
   300,275
   300,25

#--------------------------------------------------------------------
speed: 600
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.05
max_adjust: 10
